@import '../../styles/base/mixinResponse';

.all-collection {
    margin-top: 7rem;

    @include desktop {
        width: calc(100vw - 9px);
    }

    @include tablet {
        width: calc(100vw - 9px);
    }

    @include mobile {
        width: 100vw;
    }

    .container-collection {
        @include desktop {
            margin: 10px 20px 0 20px;
        }

        @include tablet {
            margin: 10px 20px 0 20px;
        }

        @include mobile {
            margin: 5px 5px 0 5px;
        }

        .conatiner-breadcrumb {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px;
        }
    }
}

.container-all-collection-details {
    @include desktop {
        margin: 10px 60px;
    }

    @include tablet {
        margin: 30px 30px;
    }

    @include mobile {
        margin: 10px 10px;
    }
}