@import "../../styles/base/mixinResponse";

.container-main-opacity {
    --bg-opacity: 1;
    background-color: rgb(19 20 25 / var(--bg-opacity));
    height: 5rem;
}

.container-main-not-opacity {
    --bg-opacity: 1;
    background-color: rgb(43, 43, 43);
    height: 6rem
}

.container-main {
    --text-opacity: 1;
    align-items: center;
    color: rgb(255 255 255 / var(--text-opacity));
    display: flex;
    position: fixed;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    top: 0;
    z-index: 1000000;

    .container-sub-main {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 93%;
        margin-left: auto;
        margin-right: auto;

        .wp-block-image {

            .figure-img {
                margin-left: auto;
                margin-right: auto;
                display: table;

                img {
                    width: 210px;
                    height: 60px;
                    max-width: 100%;
                }
            }

        }

        .icon-container {
            &:hover {
                cursor: pointer;
            }

            .container-sub-icon {
                display: flex;
            }

            .night-light-label {
                display: block;
                margin: 20px 0;
                height: 31px;
                width: 60px;
                border: 2px solid #4672fe;
                border-radius: 30px;
                position: relative;
                cursor: pointer;

                #night-light-checkbox {
                    position: absolute;
                    visibility: hidden;

                    &:checked+.night-light-ball {
                        transform: translateX(28px);
                    }
                }

                .night-light-ball {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: 1px;
                    left: 1px;
                    border-radius: 50%;
                    background: #4672fe;
                    z-index: 99;
                    transition: 300ms;
                }
            }

            .icon-mode {
                font-size: 30px;
                color: rgb(255, 255, 255);

                &.active-mode {
                    display: block;
                }
            }
        }

        @include desktop {
            .nav-desktop {
                display: block;
            }

            .social {
                display: block;
            }

            .nav-mobile {
                display: none;
            }
        }

        @include tablet {
            .nav-desktop {
                display: none;
            }
            .wp-block-image {
                margin: auto;        
            }

            .social {
                display: none;
            }

            .nav-mobile {
                display: block;
            }

        }

        @include mobile {
            .nav-desktop {
                display: none;
            }
            .wp-block-image {
                margin: auto;        
            }

            .social {
                display: none;
            }

            .nav-mobile {
                display: block;
            }
        }
    }
}