@import "../../styles/base/mixinResponse";

.container-main-opacity {
    height: 6rem;
}

.container-main-not-opacity {
    height: 7rem
}

.container-main {
    --text-opacity: 1;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    color: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    top: 0;
    z-index: 10;
}

.container-sub-main {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;

    .container-start {
        width: 33%;

        @include mobile {
            display: none;
        }
    }

    .container-enter {
        height: 100%;
        width: 33%;

        @include mobile {
            max-height: 78px;
            width: 100%;
        }

        .logo {
            width: 100%;
            height: 100%;
            object-fit: contain;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .container-end {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 33%;
        margin-right: 25px;

        @include mobile {
            display: none;
        }

        .icon-social {
            margin-right: 18px;
            font-size: 30px;
            color: black;
            transition: all 0.3s ease;

            &:hover {
                font-size: 35px;
                color: #b67d12;
                transition: all 0.3s ease;
            }
        }
    }
}

.container-option {
    width: 100%;

    .listMenu {
        margin: auto;

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;

            .selected {
                font-family: Cinzel;
                font-size: 17px;

                @include desktop {
                    font-size: 17px;
                    padding: 0px 25px;
                }

                @include tablet {
                    font-size: 17px;
                    padding: 0px 25px;
                }

                @include mobile {
                    font-size: 15px;
                    padding: 0px 10px;
                }

                transition: all 0.5s ease;

                &:hover {
                    cursor: pointer;
                    transition: all 0.5s ease;

                    @include desktop {
                        font-size: 17.5px;
                    }

                    @include tablet {
                        font-size: 17.5px;
                    }

                    @include mobile {
                        font-size: 15.5px;
                    }

                    font-size: 18px;
                    color: #b67d12;
                }
            }

            .not-selected {
                font-family: Cinzel;
                font-size: 17px;
                color: #b67d12;

                @include desktop {
                    font-size: 17px;
                    padding: 0px 25px;
                }

                @include tablet {
                    font-size: 17px;
                    padding: 0px 25px;
                }

                @include mobile {
                    font-size: 15px;
                    padding: 0px 10px;
                }
            }
        }
    }
}