.navbar-desktop {
    ul {
        display: flex;
        font-size: 15px;

        li {
            --text-opacity: 1;
            color: rgb(255 255 255 / var(--text-opacity));

            &:hover {
                --text-opacity: 1;
                color: rgb(172 107 52 / var(--text-opacity));
                cursor: pointer;
            }

            .link-redirect {
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
            }
        }
    }

    ul> :not([hidden])~ :not([hidden]) {
        --space-x-reverse: 0;
        margin-right: calc(2rem * var(--space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--space-x-reverse)));
    }
}