.container-main-footer {
    background-color: #f5f3ef;
    padding: 40px 100px 40px 0px;
    width: 100%;

    .container-footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .cotainer-setion-footer {
            span {
                font-family: Cinzel;
                text-transform: uppercase;
                color: #867140;
                font-size: 17px;
            }

            .container-list {
                margin-top: 10px;

                li {
                    color: #35414e;
                    list-style: none;
                    margin-bottom: 1.3em;
                    line-height: 24px;
                    font-family: Nunito Sans;
                    font-size: 15px;
                }
            }

        }
    }

    .container-footer-footer {
        
    }
}