:root {
    //Colores principales
    --color-primario: #2680c2;
    --color-secudary: #2187b9;
    --color-tercero: #169bd8;
    --color-cuarto: #1d78ba;
    --color-quinto: #0085cb;
    //Colores del logo como tal
    --color-background-logo: #3e68ca;
    --color-logo: #e41408;

    //Colores claros
    --white: #ffffff;

    //colores oscuros
    --black: rgb(0, 0, 0);

    //Sombras
    --shadow: #777;

    //Colores del menu dinamico
    --menu-selected: #1d2c47;
    //colores del menu #005effd1
    --background-menu: #005effd1;
    --background-sub-menu: #005ac8;
}